name: CI

on:
  pull_request:
    branches: [ "main", "dev" ]
  push:
    branches: [ "main", "dev", "feature/**" ]
  workflow_dispatch:
  
permissions:
  contents: read
  security-events: write

jobs:
  test_and_style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Upload code
        uses: actions/upload-artifact@v4
        with:
          name: code
          path: .
          include-hidden-files: true

      - name: Lint (flake8)
        run: flake8 .

      - name: Format check (black)
        run: black --check .

      - name: Tests (pytest)
        run: pytest -q

  linting:
    runs-on: ubuntu-latest
    needs: 
        - test_and_style
    steps:
      - name: Download code
        uses: actions/download-artifact@v4
        with:
          name: code
          path: .
      - name: run linting
        uses: super-linter/super-linter/slim@v7 
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DISABLE_ERRORS: true

  build_and_trivy_image_scan:
    runs-on: ubuntu-latest
    needs: [test_and_style]
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image (runtime)
        run: docker build --target runtime -t ghcr.io/${{ github.repository_owner }}/steamscraper-backend:${{ github.sha }} .

      - name: Trivy scan (image)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ghcr.io/${{ github.repository_owner }}/steamscraper-backend:${{ github.sha }}
          format: table
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

  codeql_sast:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: github/codeql-action/init@v3
        with:
          languages: python
      - uses: github/codeql-action/analyze@v3
